html, body {
    font-family: "Gotham A", "Gotham B", sans-serif;
    letter-spacing: 1px;
}

* {
    font-family: "Gotham A", "Gotham B", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    transition: .3s background-color;
}

.navbar--fill {
    background-color: rgb(90, 146, 191);
}

.navbar__logo-wrap {
    flex-grow: 0;
    margin-left: 20px;
}

.navbar__logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(187, 159, 125);
}

.navbar__logo svg {
    height: 23px;
    margin-top: 9px;
}

.navbar__contacts {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
}

.contacts-link {
    display: inline-block;
    margin: 0 10px;
    color: white;

}

.navbar__buttons {
    flex-grow: 0;
}

.navbar-button {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    margin: 0 20px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section__title {
    height: 100px;
    font-size: 36px;
    color: white;
    background-color: rgb(90, 146, 191);
    width: 100%;
    line-height: 100px;
    text-align: center;
    font-family: "Gotham A", "Gotham B";
    font-weight: 300;
    flex-grow: 0;
}

.section__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-size: cover;
}

/*noinspection CssOptimizeSimilarProperties*/
.section--hero {
    min-height: 100vh;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('../assets/images/hero-background.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    padding-top: 64px;
}

.hero-logo-wrap {
    margin: 35px 0;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    height: 50%;
    width: 50%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.hero-text__title, .hero-text__subtitle {
    font-weight: 300;
    font-family: "Gotham A", "Gotham B";
    text-align: center;
}

.hero-text__title {
    font-size: 44px;
    margin: 10px 0;
}

.hero-text__subtitle {
    font-size: 26px;
}

.hero-text__button {
    background-color: rgb(255, 98, 70);
    border: none;
    border-radius: 2px;
    height: 46px;
    border: 10px;
    color: white;
    font-family: "Gotham A", "Gotham B";
    font-weight: 300;
    font-size: 22px;
    padding: 0 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    flex-wrap: wrap;
}

.bottom-nav__link {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding-left: 16px;
    padding-right: 16px;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin: 12px;
    text-align: center;
}

.bottom-nav__link--hiring {
    background-color: rgb(51, 33, 120);
}

.bottom-nav--smaller {
    margin-top: auto;
    justify-content: flex-start;
    margin-bottom: 5px;
    margin-left: 15px;
}

.bottom-nav__link--smaller {
    font-size: 0.65em;
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;
}

.map svg {
    background-color: rgb(187, 159, 125);
}

.section--spaces .section__content {
    height: 100vh;
    background-position: center center, center center, center center;
    background-repeat: no-repeat no-repeat;
}

.spaces-cards {
    margin-top: auto;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.spaces-cards__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    padding: 15px;

    color: white;
    font-family: "Gotham A", "Gotham B";
    font-weight: 100;
    font-size: 18px;
    line-height: 1.6em;
}

.card-title {
    font-size: 1.5em;
    text-align: center;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tabs__container {
    width: 30%;
}

.tab {
    padding: 5% 15%;
    font-family: "Gotham A", "Gotham B";
    font-weight: 100;
}

.tab--active {
    color: white;
    background-color: rgb(187, 159, 125);
}

.tab__title {
    font-size: 28px;
}

.tab__text {
    margin-top: 25px;
    font-size: 16px;
}

.tabs__image {
    flex-grow: 3;
    background-position: center center, center center, center center;
    background-repeat: no-repeat no-repeat;
}

.subscription-form {
    background-color: rgb(187, 159, 125);
    color: white;
    font-family: "Gotham A", "Gotham B";
}

.subscription-form__title {
    font-family: "Gotham A", "Gotham B";
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
}

.subscription-form__input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 75px;
    margin-right: 75px;
}

.subscription-form__input {
    font-family: "Gotham A", "Gotham B";
    width: 30%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 7px 20px;
    font-size: 14px;
}

.subscription-form__button {
    font-family: "Gotham A", "Gotham B";
    display: block;
    margin: 30px auto;
    background-color: rgb(255, 98, 70);
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 14px;
    padding: 6px;
    width: 25%;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.subscription-form__button:disabled {
    background-color: rgb(255, 147, 128);
    cursor: default;
}

::-webkit-input-placeholder {
    color: #9b9b9b;
}

.events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.events__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 45%;
    padding: 0 2.5% 2.5%;

}

.column__title {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Gotham A", "Gotham B";
    font-weight: 200;
    font-style: normal;
    text-align: center;
    margin-bottom: 35px;
}

.event-card, .event-card__image {
    border-radius: 2px;
}

.event-card {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 3px, rgba(0, 0, 0, 0.239216) 0px 1px 2px;
    margin-bottom: 20px;
}

.event-card:hover {
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 14px 28px, rgba(0, 0, 0, 0.219608) 0px 10px 10px;
}

.event-card__info {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.event-card__date {
    background-color: rgb(187, 159, 125);
    width: 100px;
    height: 100px;
    color: white;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.date-number {
    display: block;
    font-size: 38px;
    font-family: "Gotham A", "Gotham B";
    font-weight: 700;
    font-style: normal;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

.event-card__text {
    padding-left: 20px;
    font-family: "Gotham A", "Gotham B";
    font-weight: 400;
    font-style: normal;
}

.event-card__title {
    overflow: hidden;
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Gotham A", "Gotham B";
    font-weight: 700;
    font-style: normal;
}

.event-card__description {
    margin-top: 5px;
    font-family: "Gotham A", "Gotham B";
    font-weight: 400;
    font-style: normal;
}

.event-card__image {
    height: 300px;
    object-fit: cover;
}

.event-card__image img {
    object-fit: cover;
    height: 100%;
    width: auto;
}

.footer-logo {
    width: 150px;
    height: 150px;
    background-color: rgb(187, 159, 125);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.footer-logo svg {
    height: 75px;
    width: 75px;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav__item {
    font-family: "Gotham A", "Gotham B";
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
    color: rgb(187, 159, 125);
    display: inline-block;
    width: 230px;
    text-align: center;
}

.copyright {
    font-family: "Gotham A", "Gotham B";
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}


@media(max-width: 769px) {

    .navbar__contacts {
        flex-direction: column;
    }

    .events {
        flex-direction: column;
        width: 100%;
    }

    .events__column {
        width: 100%;
    }

    .section__title {
        font-size: 2em;
    }

    .section--spaces .section__content {
        height: auto;
        background: none;
    }

    .spaces-cards {
        margin-bottom: 0;
    }

    .spaces-cards__item {
        width: 100%;
    }

    .tabs__container {
        width: 100%;
    }

    .tabs__image {
        display: none;
    }

    .subscription-form__input-container {
        flex-direction: column;
    }

    .subscription-form__input {
        width: 100%;
        margin-bottom: 15px;
    }

    .subscription-form__button {
        width: 100%;
    }

    .footer-nav {
        flex-direction: column;
    }

    .footer-nav__item {
        width: 100%;
    }
}
